<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>[users] account</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>
<center>
<body>
  <h1>You currently have [money] dollars in your account</h1>
  <a href="changeaccountinformation">Click here to change your personal info</a>
  <form method="POST" action="">
    <!-- 
      Would you like to withdraw or deposit
      take the money and add/subtract from acc.

      Would you like to delete this acc.
      [include an are you sure message]
     -->
  </form>
</body>
</center>
</html>