<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{{firstname}}'s account</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'BankingUI/account.css' %}">
</head>
<body>
  <div class="page">
    <div class="topbar">
      <h2>{{firstname}} {{lastname}}: ${{money}}</h2>
      <div class="navbutton">
        <form action="{% url 'deleteaccount' %}">
          <button type="submit" value="deleteaccount">Delete Your Account</button>
        </form>

        <form action="{% url 'changeaccountinfo' %}">
          <button type="submit" value="changeaccountinfo">Change Info</button>
        </form>

        <form action="{% url 'changemoney' %}">
          <button type="submit" value="changemoney">Make a transaction</button>
        </form>

        <form action="{% url 'index' %}">
          <button type="submit" value="index">Log Out</button>
        </form>
      </div>
        
      
    </div>
    <div class="bottomtable">
      <table>
        <tr class="title">
          <td><h1>Date</h1></td>
          <td><h1>Transaction Type</h1></td>
          <td><h1>Amount</h1></td>
        </tr>
        <tr><td></td><td></td><td></td></tr>
      {% for transaction in transactions %}
        <tr>
          <td>{{transaction.date}}</td>
          <td>{{transaction.transactiontype}}</td>
          <td>{{transaction.amount}}</td>
        </tr>
      {% endfor %}  
      </table>
      
    </div>
  </div>
  

  
</body>
</html>

<!-- I want the left side to have the all current stuff but then the right side would have a table of transactions the account has -->