<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>[users] account</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>
<center>
<body>
  <li>[firstname] [lastname]</li>
  <li>[email]</li>
  <li>[phonenumber]</li>
  
  <h1>You currently have [money] dollars in your account</h1>
  <a href="changeaccountinfo">Click here to change your personal info</a>
  <a href="changemoney">click here to deposit/withdraw</a>
</body>
</center>
</html>