<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Banking Login</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'BankingUI/index.css' %}">
</head>
<!-- <script>
  function changetext(depositorwithdraw){
    if(depositorwithdraw == 'deposit'){
      document.getElementById('deposit').disabled = true;
      document.getElementById('withdraw').disabled = false;
    }
    if(depositorwithdraw == 'withdraw'){
      document.getElementById('deposit').disabled = false;
      document.getElementById('withdraw').disabled = true;
    }
    // why does js have lower case bools but python have upper case :(
  }
</script> -->
<body>
  <form method="POST" action="">
    {% csrf_token %}
  <div class="topbar">
    <h1>Chandler's Bank</h1>
  </div>
  <div class="loginbox">
    <div class="logintext">
      <h1>Would you like to deposit or withdraw money?</h1>
    </div>
    <div class="radio">
      <input type="radio" id="deposit" name="deposit">Deposit</input>
    </div>
    <div class="radio">
      <input type="radio" id="withdraw" name="deposit">Withdraw</button>
    </div>
    <div class="forminput">
      <input min="1" type="number" id="amount" name="amount" placeholder="Amount"></input>
    </div>

<br>

    <div class="submit">
        <button id="submit" type="submit">Deposit/withdraw your money</button>
    </div>
  </form>
  <div class="forminput">
    <button id="return" type="return" onmousedown="location.href='account';">Return to Page</button>
  </div>
  </div>
</body>
</html>
