<html>
  <body>
    <form method="POST" action="account">
      {% csrf_token %}
    <!-- 
      Would you like to withdraw or deposit
      take the money and add/subtract from acc.

      Would you like to delete this acc.
      [include an are you sure message]
     -->
      <label>Would you like to deposit or withdraw money?</label>
      <input type="radio" id="deposit" name="depositorwithdraw">Deposit</input>
      <input type="radio" id="withdraw" name="depositorwithdraw">Withdraw</input><br>

      <input type="number" id="amount" name="amount" min="0" placeholder="Amount"></input><br>
      <button id="submit" type="submit">Deposit/withdraw your money</button>
    </form>
  </body>
</html>