<!DOCTYPE html>
<html></html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Change your Password</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'BankingUI/createaccount.css' %}">
</head>
<body>
  <form method="POST" action="">
    {% csrf_token %}
  <div class="topbar">
    <h1>Chandler's Bank</h1>
  </div>
  <div class="loginbox">
    <div class="logintext">
      <h1><center>Verify your information</center></h1>
      <h1><center>Create your new password</center></h1>
      <p><center>NOTE: You must log in to change your personal information</center></p>
    </div>
    <div class="forminput">
      <input type="text" id="firstname" name="firstname" placeholder="First Name" required></input>
    </div>

    <div class="forminput">
      <input type="text" id="lastname" name="lastname" placeholder="Last Name" required></input>
    </div>

    <div class="forminput">
      <input type="email" id="email" name="email" placeholder="Email" required></input>
    </div>

    <div class="forminput">
      <input type="text" id="username" name="username" placeholder="Username" required></input>
    </div>

    <div class="forminput">
      <input type="password" id="pinnumber" name="pinnumber" placeholder="Pin Number" required></input>
    </div>

    <div class="forminput">
      <input type="password" id="newpinnumber" name="newpinnumber" placeholder="New Pin Number" required></input>
    </div>
    <div class="submit">
      <button id="submit" type="submit">Save New Password</button>
    </div>
  </form>
    <p><center>{{response}}</center></p>
    <div class="navbutton">
      <button><a href="{% url 'index' %}">Sign In</a></button>
      <button><a href="{% url 'createaccount' %}">Create an account</a></button>
    </div>
  </div>
</body>
</html>
